* {
    margin: 0;
}

#timer {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    width: 100%;
    height: 100%;
    padding-left: 2%;
    background-color: magenta;
    text-shadow: black;
}

#timer-box {
    display: flex;
    height: 100vh;
}